html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.container {
  height: 100%;
  margin: 1rem auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#input {
  padding: 0.5rem;
  text-align: center;
  font-size: 1.25rem;
}

#voices-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  height: 50%;
  overflow: scroll;
  flex: 1;
  padding-bottom: 2rem;
}

#voices-list > li {
  display: flex;
  border-bottom: 1px solid rgb(142, 142, 142);
  padding-bottom: 0.5rem;
}

.name {
  width: 50%;
}

.voice-details {
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
}
